.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 11px 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.822);
    z-index: 10;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 60px;
}

.menu1 {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
}

.menu1 a {
    text-decoration: none;
    color: #1e1c22;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
}

.menu1 a:hover {
    /*background-color: #f6f5f0;*/
    border-bottom: 2px solid #fcd088;
    border-top: 2px solid #fcd088;
}

.phone_header {
    border-radius: 20px;
    margin-right: 28px;
    width: 40px;
    height: 40px;
}

.phone_header:hover {
    background-color: #f6f5f0;
}

.phone_head {
    display: flex;
    margin: 5px;
}

.phone {
    margin-right: 28px;
}

.social_header {
    border-radius: 20px;
    margin-right: 28px;
    width: 40px;
    height: 40px;
}

.social_header:hover {
    background-color: #f6f5f0;
}

.social_head {
    display: flex;
    margin: 5px;
}

.phone {
    text-decoration: none;
    color: #1e1c22;
    font-size: 30px;
    font-weight: 700;
}

.phone:hover {
    color: #817e71;
}

.phone_burger {
    display: flex;
    justify-content: center;
}

.phone_bur {
    margin: 5px;
}

.social_burger {
    display: flex;
    justify-content: center;
}

.social_bur {
    margin: 5px;
}

@media only screen and (max-width: 1199px) {
    .burger-menu {
        display: block;
    }
}

@media only screen and (max-width: 1199px) {
    .menu1 {
        display: none;
    }
}

@media only screen and (max-width: 737px) {
    .phone {
        font-size: 20px;
    }
}

@media only screen and (max-width: 656px) {
    .phone {
        display: none;
    }
}

@media only screen and (max-width: 456px) {
    .logo {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 456px) {
    .logo img {
        width: 140px;
    }
}

@media only screen and (max-width: 456px) {
    .phone_header {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 656px) {
    .video video {
        width: 450px;
        max-height: 450px;
    }
}

@media only screen and (max-width: 545px) {
    .video video {
        width: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 456px) {
    .video video {
        width: 280px;
        max-height: 280px;
        margin-left: -4px;
    }
}

@media only screen and (max-width: 941px) {
    .phonefooter {
        font-size: 18px;
    }
}

@media only screen and (max-width: 811px) {
    .phonefooter {
        display: none;
    }
}

@media only screen and (max-width: 566px) {
    .logo_footer {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 566px) {
    .phone_footer {
        margin-right: 2px;
    }
}

@media only screen and (max-width: 456px) {
    .logo_footer {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 456px) {
    .logo_footer img {
        width: 140px;
    }
}

@media only screen and (max-width: 456px) {
    .phone_footer {
        margin-right: 2px;
    }
}

@media only screen and (max-width: 566px) {
    .footer .main_containerfooter {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 566px) {
    .footer_centr {
        text-align: center;
        width: 100%;
        padding-top: 9px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 566px) {
    .footer_right {
        display: flex;
        justify-content: center;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 366px) {
    .footer .main_containerfooter {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 366px) {
    .footer_centr {
        text-align: center;
        width: 100%;
        padding-top: 9px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 366px) {
    .footer_right {
        display: flex;
        justify-content: center;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .main_banner {
        height: 429px;
    }
}

@media only screen and (max-width: 600px) {
    .swiper-slide img {
        height: 429px;
    }
}

@media only screen and (max-width: 600px) {
    .advantages_inner {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .column {
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .picture {
        max-height: 175px;
    }
}