.swiper-slide-next {
    opacity: 0;
}

/*.projects-slide {}*/

/* contacts */

.projects-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.projects-bullet {
    width: 15px;
    height: 15px;
    border: 3px solid #FFBB01;
    border-radius: 50%;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.project-image {
    height: 790px;
}

.projects-bullet-active {
    width: 15px;
    height: 15px;
    background: #FFBB01;
    display: block;
}

/* responsive */

@media (max-width: 836px) {
    .projects-slide {
        flex-direction: column;
    }

    .project-image {
        margin-bottom: 6px;
    }
}